@use "./vars.scss" as *;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: $color-bg-dark;
    color: $color-white;
}

.container {
    max-width: 1440px;
    width: 100%;
    min-width: 320px;
    margin: 0 auto;
}

// buttons
.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: $spacing-x-smal;
    box-shadow: none;
    outline: none;
    border: none;
    background: none;

    &--primary {
        padding: $spacing-middle $spacing-large;
        font-family: "DM Sans", Sans-serif;
        font-size: 20px;
        font-weight: 600;
        letter-spacing: 0.3px;
        color: $color-white;
        background-color: $color-orange;
        box-shadow: 0px 10px 20px 0px rgba(255, 83.99999999999999, 83.99999999999999, 0.24);
        transition: opacity .3s;

        &:hover {
            opacity: .9;
            cursor: pointer;
        }
    }

    &--secondary {
        padding: $spacing-middle $spacing-large;
        font-family: "DM Sans", Sans-serif;
        font-size: 20px;
        font-weight: 600;
        letter-spacing: 0.3px;
        color: $color-white;
        background-color: transparent;
        border: 2px solid $color-grey;
        transition: border-color .3s, color .3s;

        &:hover {
            border-color: $color-white;
            cursor: pointer;
        }
    }
}