// colors
$color-white: #ffffff;
$color-grey: #b2abb5;
$color-bg-dark: #21212c;
$color-bg-light: #2d2d3c;
$color-pastel-gold: #B08450;
$color-gold: #B08450;
$color-primary: #B08450;
$color-text-primary: #ffffff;
$color-text-secondary: #b2abb5;

//spacing
$spacing-x-smal: 6px;
$spacing-small: 12px;
$spacing-middle: 24px;
$spacing-large: 48px;

//queries
$query-mobile: 768px;
$query-desktop: 1200px;